@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About The Collectors Co.</h1>
    <p class="lead">The Collectors Co. is a community driven site that allows its users to track their collections.</p>
</div>
<p>The sports card hobby is in a state of constant flux thanks to a never-ending parade of new releases, 
   new discoveries about “old” releases, and on-field developments that shape the market. 
   To keep up with this flurry of activities, collectors turn to "The Collectors Co."</p>

<p>Destined to become our users number one repository for tracking, displaying, and maintaing any and all Card Collections we look forward to asking our community for help.
    Stayed tuned for instructions on how to become a moderator and start contributing directly to our databases! </p>
<br/>
<br/>

<p><b>Happy Collecting!</b></p>
<br/>

<p><i>--The Collectors Co. </i></p>




    <div class=" col-md-4">
    </div>
    <div class=" col-md-4">
    <h3><b>Announcements</b></h3>
    <h2></h2>
        <br />
    </div>  
    <div class=" col-md-4">
    </div>

    <div class="jumbotron">
    </div>

