@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contribution Dashboard</h1>
    <p class="lead">The Collectors Co. is a community driven site that allows its users to track their collections.</p>
</div>
<center>
        <h2>Your Achievements</h2>

<div class="row">
        <div class=" col-md-4 col-sm-4">
            <p><b>Contribution Score:</b></p>
            <p><b>Moderation Score:</b></p>
            <p><b>Total Score:</b></p>
        </div>
        <div class=" col-md-4 col-sm-4">
            <p><b><u>102</u></b></p>
            <p><b><u>252</u></b></p>
            <p><b><u>354</u></b></p>
        </div>
        <div class=" col-md-4 col-sm-4">
            <p><b>👍</b></p>
            <p><b>⭐</b></p>
        </div>

</div>
        <h2> <a class="btn btn-primary" href="../Cards/Baseball/All">View Achievements &raquo;</a></h2>
</center>
        <div class="jumbotron col-md-12 col-sm-12">


                <h2>How you can contribute:</h2>


            <br />
            <div class=" col-md-6 col-sm-6">
                <img src="https://cdn0.iconfinder.com/data/icons/customicondesign-office6-shadow/256/baseball.png" height="30" width="30" />
                <p>Add New Baseball Card</p>
                <p><a class="btn btn-default" href="../BaseballCards/Create">Contribute &raquo;</a></p>
                <p>Add New Baseball Player</p>
                <p><a class="btn btn-default" href="../Players/Create">Contribute &raquo;</a></p>
                <p>Add New Baseball Coach</p>
                <p><a class="btn btn-default" href="../Coaches/Create">Contribute &raquo;</a></p>
                <p>Add New Baseball Manufacturer</p>
                <p><a class="btn btn-default" href="../ManufacturerInfoes/Create">Contribute &raquo;</a></p>
                <p>Add New Baseball Team</p>
                <p><a class="btn btn-default" href="../Teams/Create">Contribute &raquo;</a></p>
                <p>Add New Baseball Position</p>
                <p><a class="btn btn-default" href="../Positions/Create">Contribute &raquo;</a></p>

            </div>

            <div class=" col-md-6 col-sm-6">
                <img src="http://aux.iconspalace.com/uploads/1325644760.png" height="35" width="35" />
                <p>Add New Basketball Card</p>
                <p><a class="btn btn-default" href="">Contribute &raquo;</a></p>
                <p>Add New Basketball Player</p>
                <p><a class="btn btn-default" href="">Contribute &raquo;</a></p>
                <p>Add New Basketball Coach</p>
                <p><a class="btn btn-default" href="">Contribute &raquo;</a></p>
                <p>Add New Basketball Manufacturer</p>
                <p><a class="btn btn-default" href="">Contribute &raquo;</a></p>
                <p>Add New Basketball Team</p>
                <p><a class="btn btn-default" href="">Contribute &raquo;</a></p>
                <p>Add New Basketball Position</p>
                <p><a class="btn btn-default" href="">Contribute &raquo;</a></p>

            </div>
        </div>

    <p><a class="btn btn-default" href="">   Apply for moderator status&raquo;</a></p>
