@{
    ViewBag.Title = "Contact";
}


<div class="jumbotron">
    <h1>Contact Us</h1>
    <p class="lead">Let us Know how we're doing!</p>
    <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/phone-512.png" width="75" height="75" />
    <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/mail-512.png" width="75" height="75" />
    <img src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/email-512.png" width="75" height="75" />
    <br />
    <br />
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <br />
            <br />
            The Collectors Co.<br />
            1 Collection Blvd.<br />
            Collectorsville, Co 909090<br />
            <abbr title="Phone">P:</abbr>
            909.909.9090 <br /><br />
        </div>

        <div class="col-md-4 col-sm-4">
        </div>
        <div class="col-md-4 col-sm-4">
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <br />
        <br />
        <strong>Support:</strong>   <a href="mailto:TheCollectorsCo@gmail.com">TheCollectorsCo@gmail.com</a><br />

    </div>
    <div class="col-md-6 col-sm-6">
        <br />
        <br />
        <strong>Marketing:</strong> <a href="mailto:TheCollectorsCoMarketing@gmail.com">TheCollectorsCoMarketing@gmail.com</a>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <p><a class="btn btn-group-toggle" href="">   Apply for moderator status&raquo;</a></p>

</div>