@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome, Collectors!</h1>
    <p class="lead">The Collectors Co. is a community driven site that allows its users to track their collections.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>



        <div class="row">
            <div class="col-md-4 col-sm-4">
                <h2>Your Collections</h2>
                <p>The developers behind The Collectors Co. are constantly working to bring new content to the site.</p>
                <p>Collections that are currently available:</p>
                <p><b><a href="../Cards/Baseball/All">Baseball Cards</a></b></p>
                <p><b><br /></b></p>


                <p><a class="btn btn-default" href="../Collections/Cards/Baseball/All">Update Your Collection &raquo;</a></p>
            </div>

            <div class="col-md-4 col-sm-4">
                <h2>Future Collections</h2>
                <p>The team behind The Collectors Co. are constantly working to bring new content to the site. </p>
                <p>Collections that are in progress are:</p>
                <p><b>Basketball Cards</b></p>
                <p><b>Football Cards</b></p>

                <p><a class="btn btn-default" href="/Home/Contribute">Contribute &raquo;</a></p>
            </div>

            <div class="col-md-4 col-sm-4">
                <h2>Contributions</h2>
                <p>Take part in building something great!</p>
                <p>Thanks to our community driven approach</p>
                <p> Users may contribute in the following ways: </p>
                <b><p>submit content as a user</p></b>
                <b><p>Approve/ Reject content  as a moderator</p></b>


                <p><a class="btn btn-default" href="">   Apply for moderator status&raquo;</a></p>
            </div>
        </div>
