@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome, Collectors!</h1>
    <p class="lead">The Collectors Co. is a community driven site that allows its users to track their collections.</p>
    <p><a href="" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Baseball Cards</h2>
        <p>
            These cards feature one or more baseball players, teams, stadiums, or celebrities. Baseball cards are most often found in the U.S. 
            but are also common in countries such as Canada, Cuba, Japan and Puerto Rico where top-level leagues are present with a substantial fan base to support them.
        </p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Baseball_card">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Collections in progress</h2>
        <p>The developers behind the Collectors Collections are constantly working to bring new content to the site. Collections that are currently in progress to be added are:</p>
        <b>Football & Basketball</b></p>


        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How YOU can help!</h2>
        <p>There are many ways a typical user can help this site become the number site for collectors across the globe!</p>
        <p> Just Start your collections and then, Start making your own contributions to the data!</p>
        <p>Sign up Today!</p>
        <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
    </div>
</div>