@model CollectDemo.Models.Player

@{
    ViewBag.Title = "Delete";
}

<h2>Delete Players</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>
        <img src="https://cdn0.iconfinder.com/data/icons/customicondesign-office6-shadow/256/baseball.png" height="30" width="30" />
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Player Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
